server:
  port: 9002
spring:
  application:
    name: room
  datasource:
    url: jdbc:postgresql://localhost:5432/reservation?characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8765/eureka/
  instance:
    prefer-ip-address: true
    instance-id: room


